@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.error {
    color:#db2269;
    font-size: 1em;
    display: relative;
  }

.input.error {
    border: 1px solid #EADAE4;
  }  
#e {
  cursor: pointer;
}